@font-face{
    font-family: brandon_grotesque;
    src: url("fonts/Brandon Grotesque/Brandon_thin.otf") format("opentype");
}

.logo{

    display: block;
    margin-left: 10%;
    margin-top:5%;
    width: 20%;
    height: 20%;

}

.bar {
    list-style-type: none;
    margin-right: 10%;
    margin-left: 10%;
    padding: 0;
    overflow: hidden;
}

.bar-li{
    float: left;
}

.bar-li-last{
    float: right;
    border-right: none;
}

.bar-li-btn {
    display: block;
    color: white;
    border-color: transparent;
    font-family: brandon_grotesque;
    text-align: center;
    text-decoration: uppercase;
    background-color: #4cb6c8;
}

.bar-li-btn:hover {
    background-color: #ec70a8;
}